{% extends 'base.html' %}

{% block title %}
Герои Домодедово
{% endblock %}

{% block body%}

<img class="back__img " src="{{ url_for('static', filename='img/back.jpg') }}" alt="back">

    <img class="back2__img " src="{{ url_for('static', filename='img/back1.jpg') }}" alt="back1">

<p class="text_i"><h1 class="hero_text">Герои Домодедово</h1></p>

<hr class="featurette-divider">

<div class="row featurette">
      <div class="col-md-7">
        <h2 class="text_hero">Батырев Петр Михайлович</h2>
        <h2 class="text_hero">(1918-1944)</h2>
        <div class="text">
          <p>Родился 1 марта 1918 года в деревне Чулпаново в семье крестьянина Михаила Федоровича Батырева. В настоящее время деревня входит в состав городского округа Домодедово.</p>
          <p>Русский.</p>
          <p>После окончания ФЗУ работал токарем на заводе в Подольске. В 1937 году был принят в Подольский аэроклуб.</p>
          <p>В ноябре 1939 года Батырев окончил Борисоглебскую военную авиационную школу пилотов. К августу 1944 года помощник командира по воздушно-стрелковой службе 163-го гвардейского истребительного авиаполка гвардии капитан П.М. Батырев совершил 330 боевых вылетов, из них 18 на штурмовку и 212 на разведку. Участвовал в 52 воздушных боях, лично сбил 5 самолётов противника и 1 в группе.</p>
          <p>30 сентября 1944 года при выполнении задания капитан П.М. Батырев погиб.</p>
          «Указом Президиума Верховного Совета СССР от 23 февраля
        </div>
      </div>
      <div class="col-md-5">
        <img class="bogatirev__img" src="{{ url_for('static', filename='img/hero/bogatirev.jpg') }}" alt="bogatirev">
      </div>
    </div>

<div class="text">
    <p>1945 года за образцовое выполнение боевых заданий командования на фронте борьбы с немецко-фашистскими захватчиками и проявленные при этом отвагу и геройство</p>
    <p>гвардии капитану Петру Михайловичу Батыреву было посмертно присвоено звание Героя Советского Союза.»</p>
    <p>О Батыреве, командующий 4-ой воздушной армией генерал К.А. Вершинин отзывался, как о самом опытном воздушном разведчике армии. Домодедовский краевед Г.Ф. Гарин в своей книге « К истории домодедовских поселений» пишет о семье Батырева П.М.: «В 1918 году в семье Михаила Федоровича Батырева родился сын Петр».</p>
    <p>Похоронен П.М. Батырев в сквере посёлка городского типа Желудок Щучинского района Гродненской области Республики Беларусь . 17 июля 1957 года на его могиле был открыт памятник.</p>
    <p>Домодедовцы увековечили заслуги Героя Советского Союза Петра Михайловича Батырева в деле защиты Отечества и проявленное при этом мужество и героизм. Постановлением администрации городского округа Домодедово Московской области от 15 сентября 2014 года № 4154, новой улице расположенной в микрорайоне «Южный» города Домодедово присвоено наименование «улица Батырева».</p>

</div>

<hr class="featurette-divider">

<div class="row featurette">
      <div class="col-md-6 order-md-2">
        <h2 class="text_hero">Гущин Владимир Иванович</h2>
        <h2 class="text_hero">(1921-2001)</h2>
        <div class="text">
          <p>Родился 20 июля 1921 года в деревне Овчинки, ныне городской округ Домодедово, в семье рабочего.</p>
          <p>Русский.</p>
          <p>Его мама 60 лет проработала в полеводстве колхоза «Большевик» села Домодедово. Гущин окончил ФЗУ при автозаводе имени Лихачёва, работал токарем.</p>
          В июле 1942 г. в составе 112-й стрелковой дивизии Гущин прибыл на Сталинградский фронт. В начале декабря 1942 года в одном из боёв за Сталинградский тракторный завод Гущин получил тяжёлое ранение. В 1944 году Гущин переучился на наводчика самоходной артиллерийской установки (САУ). В составе 12-го танкового корпуса воевал на территории Польши. О его подвигах вспоминает Литвяк М.М., бывший начальник политотдела 2-й гвардейской танковой армии: «В бою особенно отличился экипаж самоходно-артиллерийской установки, которым
        </div>
      </div>
      <div class="col-md-6 order-md-1">
        <img class="gushin__img" src="{{ url_for('static', filename='img/hero/gushin.jpg') }}" alt="gushin">
      </div>
    </div>

<div class="text">
    <p>командовал лейтенант А. Семенихин. За рычагами боевой машины находился механик-водитель старшина А. Суслов, наводчиком орудия был коммунист старший сержант В. Гущин. Так вот, этот экипаж за короткий срок подбил пять фашистских танков, сохранив в целости свою машину. Конечно, в достижении успеха — заслуга всех членов экипажа. Однако наибольшая нагрузка легла на наводчика старшего сержанта В. Гущина. Владимир слыл и раньше мастером своего дела. Этот же бой, кроме всего прочего, потребовал от него исключительного напряжения, выдержки, собранности и настойчивости. Гущин действительно оказался в ударе.</p>
    <p>Но это состояние не наступает вдруг, не является следствием сиюминутного озарения. Оно приходит через настойчивый, упорный труд, стремление победить коварного врага, победить, во что бы то ни стало… Достижение ст. сержанта Гущина приближалось к своего рода армейскому рекорду в этой области».</p>
    <p>«Указом Президиума Верховного Совета СССР от 27 февраля 1945 года за образцовое выполнение боевых заданий командования и проявленные при этом отвагу и геройство гвардии старшему сержанту Владимиру Ивановичу Гущину присвоено звание Героя Советского Союза с вручением ордена Ленина и медали «Золотая Звезда» (№ 5722)».</p>
    <p>С 1968 года В.И. Гущин в запасе. Жил и работал в Москве. Полковник в отставке В.И. Гущин умер 19 января 2001 года. Похоронен в Москве на Котляковском кладбище. В деревне Овчинки, в родительском доме и сейчас проживают родственники Героя.</p>
</div>

<hr class="featurette-divider">

<div class="row featurette">
      <div class="col-md-7">
        <h2 class="text_hero">Ижутов Николай Степанович</h2>
        <h2 class="text_hero">(1920 – 1994)</h2>
        <div class="text">
          <p>Родился 11.6.1920 в деревне Иремкасы ныне Цивильского района Чувашской АССР в семье крестьянина.</p>
          <p>Чуваш. Член КПСС с 1940 г.</p>
          <p>Окончил Канашский финансово-экономический техникум в 1938, работал в Ибресинском райфинотделе Чувашской АССР. В Советской Армии с 1939.</p>
          <p>Окончил Челябинское военное авиационное училище летчиков-наблюдателей в 1940, Высшую школу штурманов в 1942.</p>
          <p>На фронтах Великой Отечественной войны с октября 1942.</p>
          Инструктор по радионавигации — заместитель штурмана 108-го бомбардировочного авиационного полка (36-я бомбардировочная авиационная дивизия, 1-й гвардейский бомбардировочный авиационный корпус, 18-я воздушная армия) капитан Ижутов к концу войны совершил 202 боевых вылета, в том числе 95 — в сложных метеоусловиях, 36 — в Заполярье. Уничтожил много боевой техники и живой силы
        </div>
      </div>
      <div class="col-md-5">
        <img class="ijutov__img" src="{{ url_for('static', filename='img/hero/ijutov.jpg') }}" alt="ijutov">
      </div>
    </div>

<div class="text">
    <p> противника.</p>
    <p>Звание Героя Советского Союза присвоено 15.5.1946.</p>
    <p>После войны продолжал службу в ВВС. С 1970 полковник Ижутов в запасе. Живёт в пос. Остафьево Подольского района Московской области, работает в аэропорту Домодедово (скончался в 1994 г., похоронен на городском кладбище в Подольске – прим. ред. сайта).</p>
    <p>Награжден 3 орденами Ленина, орденом Красного Знамени, Александра Невского, 2 орденами Отечественной войны 1 ст., орденом Красной Звезды, медалями.</p>
</div>


<hr class="featurette-divider">

<div class="row featurette">
      <div class="col-md-6 order-md-2">
        <h2 class="text_hero">Коцеба Григорий Андреевич</h2>
        <h2 class="text_hero">(1917–1943)</h2>
        <div class="text">
          <p>Родился 29.11.1917 в селе Обложки ныне Глуховского района Сумской области в семье крестьянина.</p>
          <p>Украинец. Член КПСС с 1941.</p>
          <p>Окончил 3 курса рабфака в 1937. В Советской Армии с 1937. В 1940 окончил Чугуевское военное авиационное училище.</p>
          <p></p>
          <p>На фронтах Великой Отечественной войны с сентября 1941.</p>
          <p>Командир звена отдельной эскадрильи 44-й истребительной авиационной дивизии (6-я армия, Юго-Западный фронт) лейтенант Коцеба к октябрю 1941 совершил 40 боевых вылетов на уничтожение живой силы и боевой техники противника, нанёс ему большие потери.</p>
          22.9.1941 поджег подготовленные для наведения переправы через р. Орель (бассейн Днепра) строительный материал и понтоны, сорвав
        </div>
      </div>
      <div class="col-md-6 order-md-1">
        <img class="koceba__img" src="{{ url_for('static', filename='img/hero/koceba.jpg') }}" alt="koceba">
      </div>
    </div>

<div class="text">
    <p>готовившуюся здесь противником переправу крупной группировки.</p>
    <p>Звание Героя Советского Союза присвоено 20.11.1941.</p>
    <p>Награжден орденом Ленина.</p>
    <p>Капитан Коцеба погиб 4.3.1943 при катастрофе самолета на аэродроме Тельгино.</p>
    <p>Похоронен в дер. Степыгино Домодедовского р-на Московской обл. (в селе Добрыниха, на территории психбольницы №2 — прим. ред. сайта). Его именем назван пионерский отряд в селе Обложки. В селе Добрыниха Домодедовского р-на установлен памятник.</p>
</div>

<hr class="featurette-divider">

<div class="row featurette">
      <div class="col-md-7">
        <h2 class="text_hero">Курыжов Давид Константинович</h2>
        <h2 class="text_hero">(1920–2003)</h2>
        <div class="text">
          <p>Родился 9.3.1920 в дер. Кузнецове ныне Богородского района Горьковской области в семье крестьянина.</p>
          <p>Русский.</p>
          <p>Окончил среднюю школу. Работал учителем начальной школы деревне Касаниха Богородского района. В Советской Армии с 1939. Учился в Харьковское военное авиационное училище, затем в Энгельсской военной авиационной школе пилотов.</p>
          <p>В действующей армии с августа 1943.</p>
          <p>Заместитель командира эскадрильи 810-го штурмового авиационного полка (225-я штурмовая авиационная дивизия, 15-я воздушная армия, 2-й Прибалтийский фронт) старший лейтенант Курыжов к февралю 1945 совершил 95 боевых вылетов, уничтожил 5 танков, 15 автомашин, много живой силы противника.</p>
          <p>Звание Героя Советского Союза присвоено 18.8.1945.</p>
          После войны окончил Высшие офицерские лётно-тактические
        </div>
      </div>
      <div class="col-md-5">
        <img class="kyrijov__img" src="{{ url_for('static', filename='img/hero/kyrijov.jpg') }}" alt="kyrijov">
      </div>
    </div>

<div class="text">
    <p>курсы, в 1952 — Военно-политическую академию. С 1954 подполковник Курыжов в запасе. Жил в г. Домодедово Московской области. Работал диспетчером аэропорта «Домодедово» (скончался в 2003 г.).</p>
    <p>Награжден орденом Ленина, 2 орденами Красного Знамени, 2 орденами Александра Невского, орденом Отечественной войны 1 и 2 ст., Красной Звезды, медалями.</p>


</div>

<hr class="featurette-divider">

<div class="row featurette">
      <div class="col-md-6 order-md-2">
        <h2 class="text_hero">Максимов Юрий Павлович</h2>
        <h2 class="text_hero">(1924–2002)</h2>
        <div class="text">
          <p>Родился 30.6.1924 в с.Крюковка Мичуринского р-на Тамбовской области в семье крестьянина.</p>
          <p>Русский. Член КПСС с 1943.</p>
          <p>Окончил 10 классов (в 1942 г. среднюю школу № 3 в г. Домодедово). В Советской Армии с августа 1942. Участник Великой Отечественной войны. В 1943 окончил Московское пулеметное училище, в 1950 — Военную академию им. М.В.Фрунзе, в 1965 — Военную академию Генштаба.</p>
          <p>Проходил службу на штабных и командных должностях в войсках. С 1979 командующий войсками Туркменским ВО.</p>
          <p>Генерал-полковнику Максимов за успешное выполнение заданий правительства и проявленные при этом мужество и героизм 5.7.1982 присвоено звание Героя Советского Союза.</p>
          Генерал армии (1982). С 1984 на ответственной работе в МО СССР. С 1985 — главнокомандующий Ракетными войсками стратегического назначения — заместитель
        </div>
      </div>
      <div class="col-md-6 order-md-1">
        <img class="maksimov__img" src="{{ url_for('static', filename='img/hero/maksimov.jpg') }}" alt="maksimov">
      </div>
    </div>

<div class="text">
    <p>министра обороны СССР. Член ЦК КПСС с 1986 (кандидат с 1981). Депутат Верховного Совета СССР 10 и 11-го созывов.</p>
    <p>Награжден 2 орденами Ленина, 3 орденами Красного Знамени, 2 орденами Отечественной войны 1 ст., орденом Красной Звезды, «За службу Родине в ВС СССР» 3 ст., медалями.</p>
    <p>В его честь назван <a class="text" href="https://domodlicei3.edumsko.ru/">Домодедовский лицей №3</a>.</p>
    <p></p>
    <p></p>
</div>

<hr class="featurette-divider">

<h1 class="hero_text">Полные кавалеры ордена славы трёх степеней</h1>

<div class="row featurette">
      <div class="col-md-7">
        <h2 class="text_hero">Преснов Владимир Дмитриевич</h2>
        <h2 class="text_hero">(1925 – 2003)</h2>
        <div class="text">
          <p>Родился 28.7.1925г. в селе Домодедово ныне Домодедовского района Московской области в семье рабочего.</p>
          <p>Русский.</p>
          <p>Образование неполное среднее. Работал слесарем-сборщиком в электрообъединении (г. Москва).</p>
          <p>В Красной Армии и в боях Великой Отечественной войны с февраля 1943г.</p>
          <p>Командир расчета 82-мм. миномета минометной батареи 3-го мотострелкового батальона (2-я механизированная бригада, 5-й механизированный корпус, 6-я танковая армия, 2-й Украинский фронт) старший сержант Преснов в конце августа 1944г, отбивая контратаки противника на дальних подступах к г.Орадеа-Маре (Орадя, Румыния), вместе с расчетом уничтожил более 15 вражеских солдат, подавил 2 пулеметные точки.</p>
          <p>26.10.1944г. награжден орденом Славы 3 степени.</p>
          Гвардии старший сержант Преснов в том же боевом составе
        </div>
      </div>
      <div class="col-md-5">
        <img class="presnov__img" src="{{ url_for('static', filename='img/hero/presnov.jpg') }}" alt="presnov">
      </div>
    </div>

<div class="text">
    <p>(6-я гвардейская танковая армия) в районе г. Турда (Румыния) 15.9.1944г. вывел из строя противотанковую пушку и поразил свыше 10 пехотинцев.</p>
    <p>6.01.1945г. награжден орденом Славы 3 степени, 18.7.1994г. перенагражден орденом Славы 1 степени.</p>
    <p>Преснов в период боев за г. Брно (Чехословакия) 26.4.1945г. в составе минометные батареи сосредоточенным огнем накрыл вражескую колонну. Были подожжены несколько автомашин с боеприпасами, выведены из строя 2 САУ, уничтожено много живой силы.</p>
    <p>23.5.1945г. награжден орденом Славы 2 степени.</p>
    <p>В 1945г. демобилизован. Вернулся в село Домодедово. Работал по прежней специальности.</p>
    <p>Награжден орденом Ленина, Красного Знамени, Отечественной войны 1 степени, медалями.</p>
</div>

<hr class="featurette-divider">

<div class="row featurette">
      <div class="col-md-6 order-md-2">
        <h2 class="text_hero">Рыхлик Пётр Григорьевич</h2>
        <h2 class="text_hero">(1923 – 1983)</h2>
        <div class="text">
          <p>Родился 20.02.1923г. в селе Павловка ныне Кобелякского р-на Полтавской области в семье крестьянина.</p>
          <p>Украинец. Член КПСС с 1944г.</p>
          <p>Окончил 7 классов. Работал в колхозе им. Степана Разина.</p>
          <p>В Красной Армии и в боях Великой Отечественной войны с марта 1942г.</p>
          <p>Командир отделения разведки 113-го минометного полка (2-я минометная бригада, 6-я артиллерийская дивизия, 8-я гвардейская армия, 1-й Белорусский фронт) сержант Рыхлик 20.8.1944г. в боях по расширению и удержанию плацдарма на левом берегу р.Висла у населенного пункта Гловачув (юго-восточнее г.Варшава, Польша) обнаружил 2 артиллерийских и 2 минометных батареи, 7 пулеметов. По его целеуказаниям огнем минометного дивизиона они были подавлены.</p>
          21.8.1944г., находясь в боевых порядках пехоты,
        </div>
      </div>
      <div class="col-md-6 order-md-1">
        <img class="rihlik__img" src="{{ url_for('static', filename='img/hero/rihlik.jpg') }}" alt="rihlik">
      </div>
    </div>

<div class="text">
    <p>участвовал в отражении контратак противника и уничтожил 5 гитлеровцев.</p>
    <p>8.9.1944г. награжден орденом Славы 3 степени.</p>
    <p>11.10.1944г. Рыхлик в том же боевом составе (47-я армия) в бою в 36 км. юго-восточнее Варшавы при восстановлении линии связи с КП стрелкового батальона был контужен, но продолжал выполнять поставленную задачу.</p>
    <p>14.10.1944г. для организации взаимодействия в бою скрытно провел командиpa минометного дивизиона под непрерывным огнем противника на КП стрелкового батальона.</p>
    <p>12.01.1945г. награжден орденом Славы 2 степени. На подступах к Берлину у населенного пункта Вевэ (южнее г. Врицен, Германия) 17.4.1945г. Рыхлик под огнем вел разведку противника. По его докладу огнем дивизиона было подавлено 2 пулемета, 2 орудия и 4 замаскированных танка, что позволило успешно продвигаться стрелковым подразделениям.</p>
    <p>20.4.1945г. в районе населенного пункта Берникке (20 км. северо-восточнее Берлина) был ранен, но продолжал вести наблюдение за противником и передавать на КП дивизиона сведения о расположении вражеских огневых средств.</p>
    <p>31.5.1945г. награжден орденом Славы 1 степени.</p>
    <p>В 1945г. старшина Рыхлик демобилизован. Жил в поселке Чурилково Домодедовского р-на Московской области. Работал шофером в совхозе «Ямской» Домодедовского района.</p>
    <p>Награжден орденом Красной Звезды, медалями.</p>
</div>

<hr class="featurette-divider">

<div class="row featurette">
      <div class="col-md-7">
        <h2 class="text_hero">Сидоров Иван Иванович</h2>
        <h2 class="text_hero">(1914 — 2002)</h2>
        <div class="text">
          <p>Родился 19.01.1914г. в с селе Ильинское ныне Домодедовского р-на Московской обл. в семье крестьянина.</p>
          <p>Русский. Член КПСС с 1943г.</p>
          <p>Окончил 4 класса. Работал диспетчером на железнодорожной станции Москва-Товарная-Павелецкая.</p>
          <p>В Красной Армии с 1937г. по 1940г. и с 1942г. Участник боев на реке Халхин-Гол в 1939г.</p>
          <p>На фронте в Великую Отечественную войну с февраля 1942г.</p>
          <p>Командир отделения ПТР мотострелкового батальона (17-я гвардейская механизированная бригада, 6-й гвардейский механизированный корпус, 4-я танковая армия, 1-й Украинский фронт) гвардии старший сержант Сидоров 10.3.1944г. в бою за д.Писаревка (12 км. восточнее г.Волочиск, Украина) с бойцами уничтожил 3 огневые точки и 2 автомашины с боеприпасами.</p>
          18.3.1944г. при отражении контратак противника у деревни Молчановка (Волочиский район ныне Хмельницкой обл.) из
        </div>
      </div>
      <div class="col-md-5">
        <img class="sidorov__img" src="{{ url_for('static', filename='img/hero/sidorov.jpg') }}" alt="sidorov">
      </div>
    </div>

<div class="text">
    <p>ПТР поджег 2 бронемашины и из автомата истребил их экипажи.</p>
    <p>6.5.1944г. награжден орденом Славы 3 степени.</p>
    <p>Командир БТР гвардии старшина Сидоров с экипажем 30.01.1945г. в бою за населенный пункт Петракув (Польша) вывел из строя свыше 10 гитлеровцев. В окрестностях г. Ласк (Польша) при отражении контратаки противника из пулемета сразил не менее 10 вражеских солдат.</p>
    <p>13.3.1945г. награжден орденом Славы 2 степени.</p>
    <p>16.3.1945 г. в боях за населенный пункт Реймен (северо-западнее г. Прудник, Польша) заменил тяжелораненого командира стрелковой роты, в рукопашном бою отбил с бойцами контратаку противника, нанеся ему значительный урон.</p>
    <p>21.3.1945г. в бою за населенный пункт Фруденталь (Польша) был ранен, но продолжал командовать ротой. Гранатами и огнем из автоматов его подчиненные уничтожили два взвода гитлеровцев, сорвали все их контратаки и удержали занимаемые рубежи.</p>
    <p>27.6.1945г. награжден орденом Славы 1 степени.</p>
    <p>Награжден орденом Красного Знамени, Отечественной войны 1 степени, Красной Звезды, медалями.</p>
    <p>В 1945г. демобилизован. Жил в городе Домодедово.</p>
</div>

<hr class="featurette-divider">

{% endblock %}

