{% extends 'base.html' %}

{% block title %}
История Домодедово
{% endblock %}

{% block body%}

<img class="back__img " src="{{ url_for('static', filename='img/back.jpg') }}" alt="back">

    <img class="back2__img " src="{{ url_for('static', filename='img/back1.jpg') }}" alt="back1">

<p class="text_i"><h1 class="hero_text">Домодедово в годы Великой Отечественной Войны</h1></p>

<hr class="featurette-divider">

<div class="text">
    <h1>Битва за Москву – это не одно сражение, а целый комплекс военных операций. И сегодня мы вспомним, как в Домодедове и его окрестностях проходил важнейший период Великой Отечественной войны – оборона столицы.</h1>
    <p>В октябре 1941 года фашистские захватчики зашли в Московскую область. Солдатами вермахта 17 районов области были оккупированы полностью и десять – частично. С 24 октября в Москве и близлежащих районах было введено осадное положение, а в Подольске создан комитет обороны. Враг приближался к столице, и его нужно было остановить любой ценой.</p>
    <h1 class="kr_text">Жизнь разделилась на «до» и «после»</h1>
    <p>Важным становится Серпуховское направление, так как это кратчайший подступ к Москве. Два основных шоссе из Серпухова и Каширы вели к столице, а также на Подольск и Домодедово. Именно на эти направления была возложена важнейшая оборонительная задача.</p>
    <p>С этого момента в нашем рабочем посёлке Домодедово и его окрестностях жизнь людей разделилась на «до» и «после». Титаническая, порой непосильная работа легла на плечи женщин и детей, которые заменили мужчин, ушедших на фронт. Они трудились на предприятиях, в колхозах и совхозах. Подвергались атакам фашистской авиации, которая при налётах на Москву сбрасывала бомбы на мирных жителей. Особенно часто это было летом и осенью 1941-го. Так, по документам архива домодедовского отдела ЗАГС и на основании актов о смерти, в период с июня по декабрь 1941 года погибли 38 человек.</p>
    <h1 class="kr_text">Оборонительный оплот столицы</h1>
    <br>
</div>

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <div class="text">
          <br>
          <br>
          <p></p>
          <p></p>
          <p>Домодедово превратилось в оборонительный оплот. Здесь разворачивается строительство инженерно-заградительных полос, которые выполнялись под руководством начальника инженерного управления Московского военного округа Евгения Владимировича Сысоева.</p>
        </div>
      </div>
      <div class="col-md-4 order-md-1">
        <img class="sisoev__img" src="{{ url_for('static', filename='img/history/sisoev.jpg') }}" alt="sisoev">
      </div>
    </div>

<div class="text">
    <p>Отряды формировались из курсантов Военно-инженерной академии имени В.В. Куйбышева.</p>
    <p>Первые восемь отрядов были отправлены на работы в ночь на 16 октября 1941-го. Они устанавливали заграждения от фронта к Москве, в том числе на Каширском шоссе и в сторону Подольска, минировали дороги. И уже к ноябрю Москву окружил пояс заграждений и было установлено более 64 000 мин.</p>
    <p>Домодедово входило во внешний пояс обороны столицы. Он проходил через Клязьминское водохранилище, Хлебниково, реку Клязьма, Сходню, Нахабино, Перхушково, Красную Пахру и Домодедово. Здесь было построено более 150 километров электрических заграждений, которые сочетались с минными и противотанковыми. Это была крупнейшая и самая протяжённая система электрозащиты, которая применялась во время Великой Отечественной войны. Эта линия проходила в направлении Поливаново – Битягово – Лямцино.</p>
    <h1 class="kr_text">Замёрзший хлеб</h1>
    <p>В Домодедове возводились инженерные противотанковые объекты. Так, между улицами Зелёной, Октябрьской, Ленинской, рядом со школой № 2 был выкопан противотанковый ров. На перекрёстке Каширского шоссе и улицы Советской установлена долговременная огневая точка. Противотанковый ров также был вырыт на окраине завода стройматериалов. Траншеи для пехоты были и по Каширскому шоссе (у парка «Ёлочки»).</p>
    <p>Строительство велось в зимнее время, поэтому в местах, где было сложно копать, проводили взрывные работы. В строительстве оборонительных сооружений участвовали многие домодедовцы. Они работали на предприятиях, а потом выходили рыть траншеи.</p>
    <p>Так вспоминала о строительстве обороны жительница села Константиново Таисия Ивановна Назарова: «...Людям , которые весь день работали на морозе, давали миску горячих щей с мясом и кусок замёрзшего хлеба. Хлеб распиливали пилой».</p>
    <p>Отметим, в память о тех страшных днях на берегу Рожайки до сих пор сохранилась долговременная огневая точка, которая была важным звеном линии обороны.</p>
    <h1 class="kr_text">Укрепление Домодедово</h1>
</div>

<div class="row featurette">
      <div class="col-md-7 order-md-2">
        <div class="text">
          <br>
          <br>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p>Укреплялась и военная мощь Домодедова. Сюда постоянно перебрасывались войска. Так, в декабре 1941 года прибыла 39-я отдельная стрелковая бригада, которой командовал полковник Виктор Генрихович Поздняк (впоследствии генерал-лейтенант, Герой Советского Союза).</p>
        </div>
      </div>
      <div class="col-md-4 order-md-1">
        <img class="pozdniak__img" src="{{ url_for('static', filename='img/history/pozdniak.jpg') }}" alt="pozdniak">
      </div>
    </div>

<div class="text">
    <p>В нашем городе были сосредоточены и заняли оборону противотанковые батареи 1266-го стрелкового полка 385-й стрелковой дивизии, а непосредственно город прикрывали 39-я и 54-я стрелковые бригады. 39-я бригада разместилась в Домодедове (ныне территория города и аэропорта), а 54-я заняла оборонительные рубежи в деревнях Киселиха и Елгозино, а также селе Лямцино. Штаб разместился в деревне Лукино.</p>
    <h1 class="kr_text">Прикрывали с воздуха</h1>
    <p>В начале ноября 1941 года на аэродром «Степыгино» из Челябинской области прибыл 686-й авиационный полк ночных бомбардировщиков, в ходе войны он стал 686-м штурмовым Севастопольским Краснознаменным авиационным полком. В октябре 1941 года в срочном порядке он был сформирован из преподавателей и инструкторов Челябинского военного училища лётчиков.</p>
    <p>С 15 ноября полк вошёл в состав действующей армии и выполнял авиационную поддержку частей 49-й армии на Серпуховском направлении. В ноябре базировался на аэродроме «Степыгино» и участвовал в Московской битве, наносил бомбовые удары по штабам и воинским частям немецкой армии.</p>
    <p>8 декабря 1941 года по приказу Военного совета обороны Москвы 344-я стрелковая дивизия получила задачу быть готовой к занятию обороны и действиям в направлениях: Апрелевка, Красная Пахра, Подольск, Домодедово.</p>
    <p>Произведённые оборонительные работы и развёртывание войск Московской зоны обороны обеспечили плацдарм для подготовки контрнаступления.</p>
    <h1 class="kr_text">Корпус генерала Белова</h1>

</div>

<div class="row featurette">
      <div class="col-md-7 order-md-2">
        <div class="text">
          <br>
          <br>
          <br>
          <p></p>
          <p>Важное значение в оборонительном и наступательном периодах Московской битвы сыграл 2-й кавалерийский корпус генерал-майора Павла Алексеевича Белова, который прибыл в Домодедово из Алма-Аты.</p>
        </div>
      </div>
      <div class="col-md-4 order-md-1">
        <img class="belov__img" src="{{ url_for('static', filename='img/history/belov.jpg') }}" alt="belov">
      </div>
    </div>

<div class="text">
    <p>С 3 по 13 ноября 1941 года части корпуса дислоцировались на территории населённых пунктов нынешнего городского округа. Штаб корпуса располагался в деревне Глотаево, а его части остановились на станции Барыбино, в Вельяминове, Михневе.</p>
    <p>9 ноября 1941-го по приказу генерала армии Георгия Константиновича Жукова, который руководил Западным фронтом, корпус вошёл в конно-механическую группу для участия в Серпуховской операции, командиром был назначен генерал Белов.</p>
    <h1 class="kr_text">Контрудар западнее Серпухова</h1>
    <p>В ночь на 12 ноября 1941 года с домодедовской земли военная колонна выдвинулась в Серпухов. К корпусу присоединились 112-я танковая и 415-я стрелковая дивизии, 145-я и 31-я танковые бригады, 15-й полк гвардейских минометов-«катюш» и ряд других частей.</p>
    <p>Штаб фронта определил место нанесения контрудара – западнее Серпухова, в лесистой и болотистой местности. В тяжелейших боях, ценой громадных усилий, наступая в лесном массиве по глубокому снегу на оборудованные огневые точки, наши части всё-таки остановили движение противника.</p>
    <p>В журнале боевых действий корпуса этот период сражения отмечен так: «Наступление немцев на этом участке фронта сорвано, что обеспечило удержание Серпухова, как ближайшего подступа к Москве. Группа честно выполнила свой долг перед Родиной, в коннице трусов не было».</p>
    <p>Но обстановка по-прежнему оставалась очень напряжённой. С 18 ноября возобновилось наступление немецкой танковой армии Гудериана. Обойдя Тулу с востока, более 100 танков 17-й танковой дивизии немцев и танковой группы СС полковника Эбербаха устремились к Москве. К исходу 25 ноября передовые отряды врага находились в 6 километрах к югу от Каширы. Наперерез им был брошен корпус генерала Белова.</p>
    <h1 class="kr_text">«Фирменный» приём генерала</h1>
    <p>Павел Алексеевич Белов позже вспоминал, что 26 ноября 1941 года до 15 часов немцы имели полную возможность захватить Каширу и переправы через Оку. Наши части в городе были незначительны, но немцы остановились. Они полагали, что здесь создана сильная линия обороны.</p>
    <p>И уже после 15 часов 26 ноября в Каширу вошли первые кавалерийские полки Красной армии. В тот же день, поздно вечером, стало известно, что кавалерийскому корпусу Белова за мужество и героизм, проявленные в предыдущих боях, присвоено звание гвардейского. Он стал 1-м гвардейским корпусом.</p>
    <p>И уже утром 27 ноября кавалеристы-гвардейцы нанесли ряд ударов по противнику с нескольких направлений. Генерал Белов применил свой «фирменный» приём: частью сил сковывать противника с фронта, а частью – наносить удары с флангов и тыла.</p>
    <p>Враг был отброшен на 5–10 километров. Неожиданный и сильный контрудар заставил немцев перейти к обороне. Драгоценное время для наступления на Москву было упущено.</p>
    <p>И 5-6 декабря 1942 года началось контрнаступление Красной армии под Москвой. В результате ряда успешных фронтовых наступательных операций немецкие войска были отброшены на 150–300 километров от столицы. А уже 22 января 1942 года Московская область была полностью освобождена от фашистских захватчиков.</p>
    <h1>Это стало первой крупной победой с начала Великой Отечественной войны, которая положила начало новому повороту событий в ходе боевых действий.</h1>
    <p></p>
</div>

<hr class="featurette-divider">


{% endblock %}




