{% extends 'base.html' %}

{% block title %}
Память
{% endblock %}

{% block body%}

<img class="back__img " src="{{ url_for('static', filename='img/back.jpg') }}" alt="back">

    <img class="back2__img " src="{{ url_for('static', filename='img/back1.jpg') }}" alt="back1">

<p class="text_i"><h1 class="hero_text">Память народа</h1></p>

<hr class="featurette-divider">

<div class="text">
    <p><h1>«Обелиск Славы в Домодедово»</h1></p>
</div>

<div class="text">
<div class="row featurette">
      <div class="col-md-5 order-md-2">
          <p>Обелиск славы воинам-домодедовцам, погибшим в годы Великой Отечественной войны, представляет собой мемориальный комплекс, где увековечены имена множества жителей, не вернувшихся с боя. В центре горит Вечный огонь.</p>
          <p>Памятник можно считать одной из главных достопримечательностей города, поскольку памятников и скульптур на его территории немного.</p>
          <p>Обелиск славы в память о воинах-домодедовцах, погибших в годы Великой Отечественной войны, открылся в 1962 году.</p>
      </div>
      <div class="col-md-7 order-md-1">
        <img class="pamatnik__img" src="{{ url_for('static', filename='img/pamatnik.jpg') }}" alt="pamatnik">
      </div>
    </div>
</div>
<p class="text_levo">«Памятник-вечный огонь погибшим во время ВОВ в Домодедовском округе»</p>

<div class="text">
    <p>В 2015 году прошла его масштабная реконструкция.</p>
    <p>7 мая 2015 года состоялась церемония открытия, на которой торжественно был зажжен Вечный огонь, зажженный от пламени с Могилы Неизвестного солдата у стен Кремля, полученный в рамках общероссийской патриотической акции "Эстафета Вечного Огня" - в честь 70-й годовщины Победы.</p>
    <p>Памятник погибшим во времена Великой Отечественной войны представляет собой мемориальный комплекс с центральной скульптурой в виде солдата на постаменте с высокой стелой. В центре мемориала установлен обелиск со скульптурной группой, изображающей солдата, офицера, женщину и девочку-подростка, встречающую победителей с цветами.</p>
    <p>Комплекс также включает в себя вечный огонь и памятные стены с именами солдат. Памятник можно считать одной из главных достопримечательностей города, поскольку памятников и скульптур на его территории очень мало.</p>
</div>

<div class="text">
<div class="row featurette">
      <div class="col-md-6 order-md-2">
          <p>Работа по выявлению новых данных продолжается до сих пор, поэтому список пополняется новыми именами.</p>
          <p>На мемориальных плитах, расположенных дугой с обеих сторон обелиска, увековечены имена более 6 800 жителей, погибших на фронте.</p>
          <p>Работа по выявлению новых данных продолжается до сих пор, поэтому список пополняется новыми именами.</p>
      </div>
      <div class="col-md-6 order-md-1">
        <img class="mem2__img" src="{{ url_for('static', filename='img/mem2.jpg') }}" alt="mem2">
      </div>
    </div>
</div>
<p class="text_levo">«Имена погивших во время ВОВ в Домодедовском округе»</p>

<hr class="featurette-divider">

<div class="text">
    <p><h1>«7 отдельный дивизион бронепоездов»</h1></p>
</div>

<div class="text">
<div class="row featurette">
      <div class="col-md-5 order-md-2">
          <p>На станции Домодедово в 1943 году дислоцировался 7 отдельный дивизион бронепоездов №740 «Александр Невский» и №748 «Москва». Бронепоезда обороняли средствами ПВО участок железной дороги Белые Столбы — Расторгуево и станцию Домодедово.</p>
      </div>
      <div class="col-md-7 order-md-1">
        <img class="mem3__img" src="{{ url_for('static', filename='img/mem3.jpg') }}" alt="mem3">
      </div>
    </div>
</div>
<p class="text_levo">«Настенный монумент на вокзале Домодедово»</p>

<hr class="featurette-divider">

<div class="text">
    <p><h1>«Памятник воинам в Востряково»</h1></p>
</div>

<div class="text">
<div class="row featurette">
      <div class="col-md-6 order-md-2">
          <p>Памятник воинам, погибшим в годы Великой Отечественной войны, в Востряково.</p>
          <p>В мае 1977 года в поселке Востряково на Донбасской улице торжественно был открыт памятник воинам, павшим в боях за Родину в годы Великой Отечественной войны. На постаменте высечены слова «Слава воинам, павшим в боях за Родину 1941-1945». На памятных досках, укрепленных на постаменте, увековечены имена и фамилии тех, кто не вернулся с Великой Отечественной войны.</p>
      </div>
      <div class="col-md-6 order-md-1">
        <img class="mem3__img" src="{{ url_for('static', filename='img/vzlet.jpg') }}" alt="vzlet">
      </div>
    </div>
</div>
<p class="text_levo">«Памятник на станции Взлётная»</p>

<hr class="featurette-divider">

<div class="text">
    <p><h1>«Памятник героям кинематографистам»</h1></p>
</div>

<div class="text">
<div class="row featurette">
      <div class="col-md-7 order-md-2">
          <p>К событиям Великой Отечественной войны обращен монумент на территории Госфильмофонда. Это дань памяти операторам, работникам кино, запечатлевшим на камеру страшные военные кадры. Установлен в 2013 году, в дни празднования годовщины Победы.</p>
          <p></p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="mem4__img" src="{{ url_for('static', filename='img/kino.jpg') }}" alt="kino">
      </div>
    </div>
</div>
<p class="text_levo">«Памятник в микрорайоне Белые Столбы»</p>

<hr class="featurette-divider">

<div class="text">
<div class="row featurette">
      <div class="col-md-6 order-md-2">
          <p>Заметной достопримечательностью города стал объект современного искусства в Авиационном микрорайоне. Самое большое в Домодедово граффити занимает целую «глухую» стену многоэтажного жилого дома и воспроизводит образ легендарного авиаконструктора Андрея Туполева и его творения – популярного отечественного пассажирского самолета, коих много в Домодедовском аэропорту.</p>
          <p></p>
      </div>
      <div class="col-md-6 order-md-1">
        <img class="mem4__img" src="{{ url_for('static', filename='img/tupolev.jpg') }}" alt="tupolev">
      </div>
    </div>
</div>
<p class="text_levo">«Граффити в Авиационном микрорайоне»</p>

<hr class="featurette-divider">


{% endblock %}