{% extends 'base.html' %}

{% block title %}
2 Статья
{% endblock %}

{% block body%}

<img class="back__img " src="{{ url_for('static', filename='img/back.jpg') }}" alt="back">

    <img class="back2__img " src="{{ url_for('static', filename='img/back1.jpg') }}" alt="back1">

<p class="text_i"><h1 class="zagolovok_text">Сели за парты</h1></p>

<hr class="featurette-divider">

<div class="text">
    <h1>В 1938 году открылся Домодедовский лицей №3</h1>
    <p>Первого сентября 1938 года в рабочем поселке Домодедово на Константиновском шоссе (ныне улица Советская) в небольшом двухэтажном здании, которое теперь занимает ММУПК, открылась средняя школа №3. В июне 1941 года состоялся первый выпуск учащихся, получивших общее среднее образование.</p>
    <div class="row featurette">
      <div class="col-md-7 order-md-2">

      </div>
      <div class="col-md-5 order-md-1">
        <img class="class1__img" src="{{ url_for('static', filename='img/class1.jpg') }}" alt="class1">
      </div>
    </div>
    <p>Через несколько дней после выпускного бала началась Великая Отечественная война. Юноши и девушки из первого, а затем второго, третьего, четвертого выпусков в полной мере познали весь трагизм военного лихолетья. Многие ребята ушли на фронт добровольцами, и не всем было суждено вернуться.</p>
    <p>После войны в школах, и особенно в старших классах, появились переростки, то есть в одном классе иногда учились дети двух-трех возрастных категорий. Единственной средней школой на территории нынешнего городского округа Домодедово в те годы оставалась школа №3. Она была очень перегружена: число классов в одной параллели доходило до тринадцати, занятия велись в три смены.</p>
    <p>В пятидесятые годы школа приобретает политехническую направленность. Вводится трудовое обучение: деревообработка, слесарная подготовка, машиноведение, вождение мотоциклов и автомашин. Строятся мастерские, гараж, спортзал, тир.</p>
    <p>Реформирование народного образования, начавшееся в последнее десятилетие, дало мощный толчок к важным переменам и в нашей школе. Впервые в Домодедовском районе была создана единая образовательная цепочка: школа-лицей-вуз. Создание профильных классов превратили школу в учебное заведение нового типа - лицей. Выпускники лицея становятся студентами первого в истории нашего района высшего учебного заведения.</p>
    <h2>Выпускник - герой Советского Союза</h2>
    <p>После освобождения Московской области от фашистских оккупантов начались занятия в домодедовских школах, и дети продолжили обучение. В это время, например, в средней школе № 3 обучался будущий Герой Советского Союза, генерал армии  Юрий Павлович Максимов . Он окончил школу в 1942-м, а уже в августе этого же года был призван в  Красную Армию . В 1943-м окончил Первое  Московское  пулемётное училище и сразу был направлен в действующую армию. Воевал на Юго-Западном фронте командиром пулемётного взвода  187-го гвардейского стрелкового полка   61-й гвардейской стрелковой дивизии   3-й гвардейской армии .</p>
    <p>Подробнее о нем написано в «Герои Домодедово».</p>
</div>

<hr class="featurette-divider">

{% endblock %}