{% extends 'base.html' %}

{% block title %}
2 Статья
{% endblock %}

{% block body%}

<img class="back__img " src="{{ url_for('static', filename='img/back.jpg') }}" alt="back">

    <img class="back2__img " src="{{ url_for('static', filename='img/back1.jpg') }}" alt="back1">

<p class="text_i"><h1 class="zagolovok_text">Единым трудовым фронтом</h1></p>

<hr class="featurette-divider">

<div class="text">
    В освобождение Подмосковья огромный вклад внесли предприятия и учреждения, жители посёлков, сёл и деревень домодедовского района. В то тяжёлое время они были единым трудовым фронтом. А главный лозунг «Всё для фронта! Всё для Победы!» стал для них руководством к действию. Домодедовцы от мала до велика стояли у станков, работали в поле. Каждый своим трудом, как мог, приближал долгожданное освобождение Подмосковья.
    <div class="text">
    <div class="row featurette">
      <div class="col-md-3 order-md-2">
          В этот период не прекращал своей работы Домодедовский завод металлоконструкций, который  выпускал продукцию военного назначения. Вывезенное на станцию Домодедово для эвакуации оборудование Константиновской фабрики было возвращено на прежнее место и продолжило производство. Работал один из важнейших стратегических объектов
      </div>
      <div class="col-md-9 order-md-1">
        <img class="zavod__img" src="{{ url_for('static', filename='img/zavodik.jpg') }}" alt="zavodik">
      </div>
    </div>
    <p>– станция Домодедово. Основная путевая служба непрерывно поддерживала железнодорожные пути в рабочем состоянии.</p>
    <p>Ковала победу в тылу и константиновская фабрика. Она выпускала ремни для станков оборонных заводов. В разгар боевых действий и наступления на Москву ценное оборудование этого предприятия было демонтировано и вывезено на станцию Домодедово для эвакуации. А после освобождения Московской области его сразу же вернули на прежнее место. Фабричные рабочие на санках перевезли оборудование со станции Домодедово в цеха, монтировали его и возобновили работу.</p>
    <p>В колхозах и совхозах женщины, дети и старики готовились к весеннему севу 1942 года. Кипела работа и в свиносовхозе «Константиново» (ГПЗ «Константиново»). Бойцы Красной армии обеспечивались продовольствием значительно лучше, чем те, кто находился в тылу. Вся страна работала только для фронта, люди в колхозах и совхозах трудились без скидок на возраст и пол.</p>
    <p>В это время аэродром Степыгино обеспечивал боевые вылеты авиационных полков, наносивших  удары по гитлеровским войскам на тульском и калужском направлениях. Всестороннюю помощь в поддержании боевой готовности аэродрома оказывали жители деревень Степыгино, Мансурово,  Щеглятьево, села Добрыниха. Они участвовали в снабжении продовольствием, расчистке взлётно-посадочной полосы от снега и выполняли другие вспомогательные работы.</p>
    <p>В дислоцированных на территории Домодедова военных госпиталях медики боролись за жизнь раненых бойцов Красной армии.</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

</div>

<hr class="featurette-divider">


{% endblock %}