{% extends 'base.html' %}

{% block title %}
2 Статья
{% endblock %}

{% block body%}

<img class="back__img " src="{{ url_for('static', filename='img/back.jpg') }}" alt="back">

    <img class="back2__img " src="{{ url_for('static', filename='img/back1.jpg') }}" alt="back1">

<p class="text_i"><h1 class="zagolovok_text">Госпитали во время ВОВ на Домодедовской земле</h1></p>

<hr class="featurette-divider">

<div class="text">
    <div class="row featurette">
      <div class="col-md-6 order-md-2">
          <p>Домодедовская земля, как прифронтовая полоса, была определена местом оказания помощи раненым бойцам. С июля 1941 года в Домодедово и его окрестности дислоцировались военные госпитали различного назначения – эвакуационные, передвижные полевые, хирургические полевые, клинические, инфекционные, реабилитационные.</p>
          <p>В зависимости от ведения боевых действий или подготовки к ним, передвижные полевые госпитали постоянно меняли дислокацию и перемещались в интересах боевых частей.</p>

      </div>
      <div class="col-md-6 order-md-1">
        <img class="medic__img" src="{{ url_for('static', filename='img/voenmed.jpg') }}" alt="voenmed">
      </div>
    </div>

<div class="text">
    <main>За время войны на Домодедовской земле размещались следующие госпитали:</main>
    <p>2941 эвакуационный госпиталь в селе Домодедово с 20.07.41 г.</p>
    <main>651 передвижной хирургический полевой госпиталь:</main>
    <main>- в Константиново с 20.09. 41 г.;</main>
    <main>- в селе Домодедово с 24.11.41 г.;</main>
    <main>- в Заборье с 14.12.41—26.12.41 г.;</main>
    <p>- в Ямах с 2.12.41 - 30.12.41 г.</p>
    <p>252 клинический полевой госпиталь в с. Растуново с 27.10—3.11.41 г.</p>
    <main>464 передвижной хирургический полевой госпиталь:</main>
    <main>- в Лобаново с 22.11.41 г.;</main>
    <p>- в селе Домодедово с 30.11.41 — 10.12.41 г.</p>
    <main>1698 травматический передвижной полевой госпиталь:</main>
    <main>- в селе Домодедово с ноября 1941 г.;</main>
    <p>- в Константиново с 23.12. 41—3.01.42 г.</p>
    <p>2265 эвакуационный госпиталь в Востряково с 19 11.41—2.02.42 г.</p>
    <p>18 подвижный полевой госпиталь в Барыбино декабрь 1941 г.</p>
    <p>657 подвижный полевой госпиталь в Барыбино декабрь 1941 г.</p>
    <p>698 подвижный полевой госпиталь в Барыбино декабрь 1941 г</p>
    <p>47 подвижный полевой госпиталь в Барыбино декабрь 1941 г.</p>
    <p>2262 эвакуационный госпиталь с ноября 1941 г.</p>
    <p>112 хирургический полевой госпиталь в Константиново с 1.12—21.12.41 г.</p>
    <p>181 передвижной полевой госпиталь в Константиново с декабря 1941 г.</p>
    <p>4025 эвакуационный госпиталь в село Лукино с 18.04.42—20.05.43 г.</p>
    <p>4029 эвакуационный госпиталь в селе Домодедово с 1.05.1944 г.</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>


<hr class="featurette-divider">

{% endblock %}

