{% extends 'base.html' %}

{% block title %}
1 Статья
{% endblock %}

{% block body%}

<img class="back__img " src="{{ url_for('static', filename='img/back.jpg') }}" alt="back">

    <img class="back2__img " src="{{ url_for('static', filename='img/back1.jpg') }}" alt="back1">

<p class="text_i"><h1 class="zagolovok_text ">Первая стратегическая победа</h1></p>

<hr class="featurette-divider">


<div class="text">
    <p><h2>В числе бойцов, освобождавших Московскую область от немецких оккупантов в начале Второй мировой войны, были и домодедовцы.</h2></p>
    <p>22 января мы отмечаем памятную дату – День освобождения Московской области от фашистских захватчиков. Этому важному событию исполняется 83 года. Сегодня мы ещё раз вспомним о том, как это было.</p>
        <div class="row featurette">
      <div class="col-md-6">
         В далёком 1942 году на подступах к Москве оборону держали войска Западного, Резервного, Калининского и Брянского фронтов. Им удалось отбить атаки гитлеровских войск и с 7 января перейти в общее наступление на московском направлении. А уже 22 января 1942-го Красная Армия освободила от нацистской оккупации последние районы Московской области. В архивном ведомстве хранятся номера газеты «Правда», в которых отражены события тех дней. Так, на первой полосе издания от 23 января есть две маленькие колонки фронтовой сводки, в которых значится, что «в течение 22 января наши войска продолжали
      </div>
      <div class="col-md-5">
        <img class="statya1photo1__img" src="{{ url_for('static', filename='img/statya1photo1.jpg') }}" alt="statya1photo1">
      </div>
        </div>
    <p>продвигаться на запад, заняли несколько населенных пунктов, в их числе и Уварово – районный центр Московской области». А уже 27 января в «Правде» вышел материал  Ильи Эренбурга  под названием «Московская область очищена от гитлеровского зверья » . В нем подводился своеобразный итог боям на территории Подмосковья. А также были представлены факты о зверствах фашистов и гибели десятков тысяч мирных граждан, женщин и детей, которых повесили и расстреляли.
    <p>На территории районов Московской области, находившихся в 93-дневной немецкой оккупации, были разрушены 2280 населенных пунктов, из которых 584 – сожжены дотла. Гитлеровские варвары уничтожили свыше 1000 школ, 700 изб-читален, клубов, театров, 117 библиотек, 400 больниц, 450 детских учреждений и 3000 магазинов. Вдумайтесь, только в Уваровском районе оккупанты сожгли 25 деревень! Но, несмотря на все тяготы и потери, советский народ – солдаты и мирное население – мужественно противостоял врагу. Ярчайшим примером стойкости и героизма стали события, происходившие и на домодедовской земле.
</div>

<hr class="featurette-divider">

<div class="text">
    <main>«<a class="text" href="https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%B0%D0%B2%D0%B4%D0%B0_(%D0%B3%D0%B0%D0%B7%D0%B5%D1%82%D0%B0)">Пра́вда</a>» — советская и российская газета левого толка, основанная лидером РСДРП (б) В. И. Лениным в 1912 году. До 1991 года — основное ежедневное печатное средство массовой информации КПСС и наиболее влиятельное издание в СССР. После запрета КПСС — центральный орган КПРФ, выходит трижды в неделю.
</div>

<hr class="featurette-divider">

{% endblock %}